<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB6F9F5E2186A6BC00352C60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB6F9F762186A6C700352C60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB6F9F812186A6C700352C60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
